In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\administrator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\administrator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: C:\Users\Administrator\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
pip install plotly

Requirement already satisfied: plotly in c:\users\administrator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\administrator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in c:\users\administrator\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from plotly) (24.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: C:\Users\Administrator\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
#importing necessory libraries
import pandas as pd
import plotly.express as px
import os

In [8]:
#listing the content of directory
s.listdir(r'C:\Users\Administrator\OneDrive\Desktop\PythonProject\DataSet')

['Source.csv', 'Treatment Plant.csv', 'WasteWaterTreatmentFact.csv']

In [10]:
# Readig the source datafile
Sources_df = pd.read_csv(r'C:\Users\Administrator\OneDrive\Desktop\PythonProject\DataSet\Source.csv')

In [12]:
# Reading the treatment plant data file
Trtplant_df = pd.read_csv(r'C:\Users\Administrator\OneDrive\Desktop\PythonProject\DataSet\Treatment Plant.csv')

In [14]:
# Reading the Waste water treatment fact file
WstWtrtrt_df = pd.read_csv(r'C:\Users\Administrator\OneDrive\Desktop\PythonProject\DataSet\WasteWaterTreatmentFact.csv')

In [15]:
Sources_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SourceID         4 non-null      int64
 1   Source Name      4 non-null      object
 2   Industry Sector  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

Data Cleansing and Trasnformation activities

In [16]:

Sources_df.isnull().sum()

SourceID           0
Source Name        0
Industry Sector    0
dtype: int64

In [18]:

Trtplant_df.isnull().sum()

PlantID     0
name        0
Location    0
Capacity    0
dtype: int64

In [21]:

WstWtrtrt_df.isnull().sum()

SampleID                   0
PlantID                    0
SourceID                   0
Date                       0
Volume of Water Treated    0
Result                     0
dtype: int64

In [22]:
Sources_df.duplicated().sum()

np.int64(0)

In [24]:
Trtplant_df.duplicated().sum()

np.int64(0)

In [26]:
WstWtrtrt_df.duplicated().sum()

np.int64(0)

In [27]:
WstWtrtrt_df['Date'].dtype

dtype('O')

In [34]:
# Convering objet type to date type
WstWtrtrt_df['Date'] = pd.to_datetime(WstWtrtrt_df['Date'])

In [37]:
# Deriving a new column Weekday
WstWtrtrt_df['Weekday'] = WstWtrtrt_df['Date'].dt.day_name()

In [38]:
WstWtrtrt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SampleID                 1050 non-null   int64
 1   PlantID                  1050 non-null   int64
 2   SourceID                 1050 non-null   int64
 3   Date                     1050 non-null   datetime64[ns]
 4   Volume of Water Treated  1050 non-null   int64
 5   Result                   1050 non-null   object
 6   Weekday                  1050 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 57.5+ KB

In [39]:
Trtplant_df

,PlantID,name,Location,Capacity
0,1,San Francisco Treatment Plant,"San Francisco, CA",100 million gallons per day
1,2,Oakland Treatment Plant,"Oakland, CA",50 million gallons per day
2,3,Sacramento Treatment Plant,"Sacramento, CA",25 million gallons per day
3,4,Los Angeles Treatment Plant,"Los Angeles, CA",150 million gallons per day
4,5,San Diego Treatment Plant,"San Diego, CA",100 million gallons per day
5,6,Phoenix Treatment Plant,"Phoenix, AZ",75 million gallons per day
6,7,Denver Treatment Plant,"Denver, CO",50 million gallons per day
7,8,Minneapolis Treatment Plant,"Minneapolis, MN",25 million gallons per day
8,9,Chicago Treatment Plant,"Chicago, IL",150 million gallons per day
9,10,New York Treatment Plant,"New York, NY",100 million gallons per day

In [42]:
# Data Type conversion for capacity
Trtplant_df['Capacity'] = Trtplant_df['Capacity'].str.split(' ').str.get(0).astype('int')

   PlantID                           name            Location  Capacity
0        1  San Francisco Treatment Plant  San Francisco, CA        100
1        2        Oakland Treatment Plant         Oakland, CA        50
2        3     Sacramento Treatment Plant      Sacramento, CA        25
3        4    Los Angeles Treatment Plant     Los Angeles, CA       150
4        5     San Diego Treatment Plant       San Diego, CA        100
5        6        Phoenix Treatment Plant         Phoenix, AZ        75
6        7         Denver Treatment Plant          Denver, CO        50
7        8    Minneapolis Treatment Plant     Minneapolis, MN        25
8        9        Chicago Treatment Plant         Chicago, IL       150
9       10       New York Treatment Plant       New York, NY        100